@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@font-face {
  font-family: "Disket Mono";
  src: url("/fonts/Disket-Mono-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Disket Mono";
  src: url("/fonts/Disket-Mono-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "mono";
  src: url("/fonts/sourcecode_regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --jetRed: #ff0035;
  --gray: #292929;
  --linkColour: #005bc9;
  --secondary: #c8c8c8;
}

html {
  background-color: #000;
  font-family: "mono", system-ui, sans-serif;
}

body {
  font-family: "mono", system-ui;
  color: white;
  display: block;
  text-decoration: none;
  line-height: 20px;
}

a {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.link-text {
  color: var(--linkColour);
  font-family: "mono", monospace;
}
.link-text:hover {
  border-bottom: 1px;
}

.button {
  border: 1px none #000;
  font-family: system-ui, sans-serif;
  font: bold;
  color: rgb(0, 0, 0);
  font-size: 19px;
  line-height: 100%;
  font-weight: bold;
  position: relative;
  z-index: 1;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 30px;
  margin-top: 0.5px;
  margin-bottom: 0.5px;
}

.button-secondary {
  border: 1px none #000;
  font-family: system-ui, sans-serif;
  kerning: 5px;
  position: relative;
  z-index: 1;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgb(23, 21, 21);
  color: rgb(200, 200, 200);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button:hover {
  transition: ease-in;
  transition-duration: 200ms;
  animation: normal;
  -webkit-animation: normal;
  background-color: transparent;
  background: var(--jetRed);
  -webkit-transition: ease-in;
  -moz-transition: ease-in;
  -ms-transition: ease-in;
  -o-transition: ease-in;
}

.button-secondary:hover {
  padding-top: 5px;
  padding-bottom: 5px;
  transition: ease-in;
  transition-duration: 200ms;
  animation: normal;
  -webkit-animation: normal;
  color: var(--jetRed);
}

.button-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 372px;
  margin-top: 40px;
  max-height: 36px;
}

.logo {
  height: 70px;
}

.header {
  width: 100%;
  position: fixed;
}

.navbar {
  max-width: 95%;
  min-width: 90%;
  height: auto;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  display: block;
  object-fit: contain;
  font-family: "Disket Mono", monospace;
}

nav {
  float: right;
  position: relative;
  left: auto;
  display: block;
  padding-top: 5px;
}

.nav-logo {
  float: left;
  position: relative;
  vertical-align: middle;
  object-fit: fill;
}

.nav-link {
  color: white;
  font-weight: bold;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  padding: 20px;
  font-size: 16px;
  text-decoration: none;
}

.copyright {
  text-align: center;
  font-size: 14px;
}

.socials {
  position: relative;
  display: block;
  text-align: center;
  margin: 20px 100px;
}

.social-link {
  display: inline-block;
  padding: 10px;
  position: relative;
  -o-object-fit: fill;
  object-fit: fill;
  margin-left: auto;
  margin-right: auto
}

.social-link-image {
  width: 70%;
}

.trademarks {
  color: var(--secondary);
  text-align: center;
  margin-top: 40px;
  font-size: 10px;
}
