@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap");

@font-face {
  font-family: "Disket Mono";
  src: url("/fonts/Disket-Mono-Regular.ttf") format("truetype"),
    url("/fonts/Disket-Mono-Regular.otf") format("opentype"),
    url("/fonts/Disket-Mono-Regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Disket Mono";
  src: url("/fonts/Disket-Mono-Bold.ttf") format("truetype"),
    url("/fonts/Disket-Mono-Bold.otf") format("opentype"),
    url("/fonts/Disket-Mono-Bold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "SF Pro Icons";
  font-style: normal;
  font-weight: 500;
  src: local("☺"), url("/fonts/sf-pro-icons_regular.woff2") format("woff2");
}

:root {
  --jetRed: #ff0035;
  --gray: rgb(25, 25, 25);
  --linkColour: #2997ff;
  --secondary: #c8c8c8;
  --font-mono: "IBM Plex Mono";
}

html {
  font-family: var(--font-mono), system-ui, sans-serif;
  display: block;
}

body {
  background-color: #000;
  font-family: var(--font-mono), system-ui;
  color: white;
  display: inherit;
  text-decoration: none;
  line-height: 20px;
  margin: 0px;
}

main {
  text-align: center;
}

a {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-size: inherit;
}

h1 {
  font-size: 120px;
  font-family: "Disket Mono";
}

h2 {
  font-size: 66px;
  font-weight: bold;

  opacity: 0.92;
}

h3 {
  font-size: 45px;
  font-weight: 600;
  opacity: 0.92;
}

.heading-subtext {
  font-size: 21px;
  margin-top: 12px;
  margin-bottom: 21px;
  color: var(--secondary);
}

.feature-heading {
  font-size: 25px;
  line-height: 1.5;
  padding-bottom: 10px;
}

h4 {
  font-size: 24px;
  opacity: 0.9;
  font-weight: 500;
  margin-bottom: 15px;
}

h5 {
  font-size: 18px;
  font-weight: normal;
  opacity: 0.92;
  margin-bottom: 10px;
}

h6 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  line-height: 1.5;
}

p {
  font-size: 15px;
  font-weight: normal;
}

.space-bottom {
  padding-bottom: 10px;
}

.spacer {
  padding: 50px;
}

.secondary {
  color: var(--secondary);
}

.large-fact {
  font-family: "Disket Mono";
  font-size: 250px;
  font-weight: bold;
  margin: 120px;
}

.link-text {
  padding-bottom: 20px;
  font-family: var(--font-mono), monospace;
  font-weight: normal;
  cursor: pointer;
  font-size: 16px;
  color: var(--jetRed);
}
.link-text::after {
  font-family: "SF Pro Icons";
  content: " ";
}
.link-text:hover {
  text-decoration: underline;
}

.link-block {
  height: 50px;
}

.feature-glyph {
  height: 50px;
}

button,
.button {
  border: 1px none #000;
  font-family: var(--font-mono), system-ui, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 15px;
  line-height: 100%;
  font-weight: 500;
  position: relative;
  z-index: 1;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 0.5px;
  letter-spacing: 0.5px;
}

.button-secondary {
  border: 1px none #000;
  font-family: var(--font-mono), system-ui, sans-serif;
  font-size: 15px;
  kerning: 5px;
  position: relative;
  z-index: 1;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgb(23, 21, 21);
  color: rgb(200, 200, 200);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

button:hover,
.button:hover {
  animation: normal;
  -webkit-animation: normal;
  background-color: transparent;
  background: var(--jetRed);
  color: white;
  cursor: pointer;
}

.button-secondary:hover {
  padding-top: 5px;
  padding-bottom: 5px;
  transition: ease-in;
  transition-duration: 200ms;
  animation: normal;
  -webkit-animation: normal;
  color: var(--jetRed);
}

.button-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 372px;
  margin-top: 40px;
  max-height: 36px;
}

.logo {
  height: 60px;
}

.utility-page-wrap {
  width: 100%;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  position: fixed;
}

.utility {
  padding-top: 100px;
}

/* HEADER & NAVBAR */

.header {
  width: 100%;
  position: absolute;
  display: flex;
  margin: 0;
  box-sizing: content-box;
  float: initial;
  z-index: 3;
}

.header.blackbackground {
  background-color: #000;
}

.navbar {
  max-width: 90%;
  min-width: 90%;
  height: auto;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  font-family: "Disket Mono", monospace;
  vertical-align: top;
  z-index: 3;
}

.navlinks {
  float: right;
  position: relative;
  left: auto;
  display: block;
}

.nav-logo {
  float: left;
  position: relative;
  vertical-align: middle;
  object-fit: fill;
  margin-top: auto;
  margin-bottom: auto;
}

.nav-link {
  color: white;
  font-weight: bold;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  padding: 20px;
  font-size: 13px;
  text-decoration: none;
  letter-spacing: 1px;
}
.nav-link:hover {
  color: var(--jetRed);
}
.nav-link.current {
  color: var(--secondary);
  font-weight: bold;
}

/* LOCALNAV */

.localnav-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
  -webkit-transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
  -moz-transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
  -ms-transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
  -o-transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
}

@supports (padding: calc(max(0px))) {
  .localnav-content {
    padding-left: calc(max(22px, env(safe-area-inset-left)));
    padding-right: calc(max(22px, env(safe-area-inset-right)));
  }
}

.localnav {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 52px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
}

.navpadding {
  padding-top: 42px;
}

.localnav-sticky-placeholder {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  visibility: hidden;
  z-index: -1;
  }

.localnav-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  z-index: 2;
  }

.localnav-content {
  margin: 0 auto;
  width: 980px;
  position: relative;
  z-index: 2;
  display: table;
  padding: 0 22px;
}

.localnav-keyline {
  border-bottom: 1px solid #7d7d7d;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.localnav-title {
  float: left;
  font-size: 21px;
  font-family: "Disket Mono";
  line-height: 1.14286;
  font-weight: 500;
  letter-spacing: 0.021em;
  cursor: default;
  display: block;
  float: left;
  margin: 14px 0 -14px;
  padding: 0;
  height: 52px;
  white-space: nowrap;
}

.localnav-menu {
  float: right;
  display: block;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: var(--font-mono), monospace, system-ui;
  margin-top: -3px;
padding-top: 18px;
}

nav ul,
nav ol {
  margin: 0;
  list-style: none;
}
li {
  display: list-item;
  text-align: match-parent;
}

.localnav-menu-item {
  margin-left: 24px;
  float: left;
  list-style: none;
}

.localnav-menu-link {
  color: white;
  display: inline-block;
  line-height: 22px;
  white-space: nowrap;
  opacity: 0.92;
}

.localnav-menu-link:hover {
  color: var(--jetRed);
}

.localnav-menu-link.current {
  color: var(--secondary);
}

/* FOOTER */

.footer {
  padding-top: 50px;
  position: relative;
  display: block;
  text-align: center;
  object-fit: contain;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

.footer-container {
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
  display: flex;
  margin-bottom: 20px;
  text-align: center;
}

.footer-logo {
  display: block;
  font-size: 12px;
  font-family: "Disket Mono";
  width: 500px;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 0 auto;
}

.footer-menu {
  display: block;
  padding-left: 70px;
  text-align: left;
}

.footer-heading-link {
  font-weight: bold;
  font-size: 14px;
  text-align: left;
}

.footer-heading-link:hover {
  color: var(--jetRed);
}

.footer-links-list {
  text-align: left;
  list-style: none;
  display: block;
  padding-left: 0;
  margin-top: 0px;
}

.footer-menu-link {
  color: var(--secondary);
  font-size: 12px;
}

.footer-menu-link:hover {
  color: var(--jetRed);
}

.copyright {
  text-align: center;
  font-size: 12px;
}

.copyright-container {
  display: inline-flex;
}

.socials {
  position: relative;
  display: block;
  text-align: center;
  margin: 20px 100px;
}

.social-link {
  display: inline-block;
  padding: 10px;
  position: relative;
  -o-object-fit: fill;
  object-fit: fill;
  margin-left: auto;
  margin-right: auto;
}

.social-link-image {
  width: 50%;
}

.social-link-image.large {
  margin-left: 20px;
  margin-right: 20px;
  width: 50%;
  transition: ease-in-out;
  transition-duration: 100ms;
  -webkit-transition: ease-in-out;
  -moz-transition: ease-in-out;
  -ms-transition: ease-in-out;
  -o-transition: ease-in-out;
}

.trademarks {
  color: var(--secondary);
  letter-spacing: -0.5px;
  text-align: left;
  font-size: 10px;
}

/* MAIN & SECTIONS */

main {
  z-index: 0;
}

.section {
  text-align: center;
  display: block;
  width: 100%;
  object-fit: contain;
  padding-bottom: 50px;
  padding-top: 50px;
  z-index: 0;
}

.keyline {
  border-top: 1px solid #ababab;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.section.hero {
  text-align: left;
  height: 250px;
  background-color: var(--jetRed);
  padding-top: 70px;
}

.section.category {
  text-align: center;
  height: 250px;
  padding-top: 70px;
}

.section.top {
  text-align: center;
  padding-bottom: 22px;
  padding-top: 70px;
}
.section.haslocalnav {
  padding-top: 30px;
}

.section.featured {
  text-align: center;
  height: 300px;
  padding-top: 70px;
  background-color: #000;
}

.section-content {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
  position: relative;
}

.content-grid {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}

.feature-box {
  text-align: left;
  position: relative;
  padding: 50px;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.section-background {
  width: 100%;
  position: absolute;
  float: none;
  object-fit: contain;
}

.contact-background {
  background-image: linear-gradient(
    45deg,
    hsla(258, 35%, 34%, 1) 0%,
    hsla(349, 65%, 44%, 1) 50%,
    hsla(47, 79%, 55%, 1) 100%
  );
}

.feedback-background {
  background-image: linear-gradient(
    185deg,
    hsla(258, 35%, 34%, 1) 10%,
    hsla(349, 65%, 44%, 1) 60%,
    rgb(219, 80, 10) 100%
  );
}

.legal-background {
  background-image: linear-gradient(
    300deg,
    rgb(50, 1, 173) 0%,
    rgb(195, 65, 22) 60%,
    rgb(184, 132, 12) 100%
  );
}

.apps-background {
  background-image: linear-gradient(
    40deg,
    rgb(7, 0, 145) 0%,
    rgb(206, 14, 55) 60%,
    rgb(12, 135, 184) 100%
  );
}

.consulting-background {
  background-image: linear-gradient(
    250deg,
    rgb(9, 195, 80) 0%,
    rgb(14, 142, 206) 50%,
    rgb(71, 4, 152) 90%
  );
}

.research-background {
  background-image: linear-gradient(
    250deg,
    rgb(28, 196, 92) 0%,
    rgb(206, 14, 206) 50%,
    rgb(71, 4, 152) 90%
  );
}

.os-background {
  background-image: linear-gradient(
    250deg,
    rgb(196, 174, 28) 0%,
    rgb(206, 14, 206) 50%,
    rgb(71, 4, 152) 90%
  );
}

.about-background {
  background-image: linear-gradient(
    250deg,
    rgb(9, 195, 15) 0%,
    rgb(206, 190, 14) 50%,
    rgb(152, 4, 4) 100%
  );
}

.solutions-background {
  background-image: linear-gradient(
    100deg,
    rgb(225, 180, 1) 0%,
    rgb(206, 14, 59) 50%,
    rgb(4, 61, 152) 100%
  );
}

.section-header {
  padding-top: 50px;
}

form {
  font-family: var(--font-mono), system-ui;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  width: 800px;
  text-align: left;
}

input,
textarea {
  font-family: var(--font-mono), system-ui;
  border: #000;
  border-radius: 10px;
  height: 30px;
  width: 60%;
  padding: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: var(--gray);
  color: white;
}

.confirm-text {
  align-items: flex-start;
  font-size: 12px;
  color: var(--secondary);
}

input:focus,
textarea:focus {
  border-color: var(--jetRed);
}

textarea.message {
  height: 200px;
  padding-top: 10px;
  vertical-align: top;
}

input.checkbox {
  width: auto;
  margin-right: 10px;
  height: auto;
}
input.submit {
  margin-top: 20px;
  width: 20%;
  height: 30px;
}
