<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title> | Excellency Intergalactic</title>
    <meta content="Learn more about us and what we do" name="description" />
    <meta content=" | Excellency Intergalactic" property="og:title" />
    <meta content="" property="og:description" />
    <meta content=" | Excellency Intergalactic" property="twitter:title" />
    <meta content="" property="twitter:description" />
    <meta property="og:type" content="website" />
    <meta content="summary_large_image" name="twitter:card" />
    <link href="/styles.css" rel="stylesheet" type="text/css" />

    <link href="images/icon.png" rel="shortcut icon" type="image/png" />
    <link href="images/icon.png" rel="icon" type="image/png" />
    <link href="images/icon.png" rel="shortcut icon" type="image/png" />
    <link href="images/icon.png" rel="apple-touch-icon" type="image/png" />
</head>

<body>
    <nav class="header blackbackground">
        <div role="navbar" class="navbar">
            <a href="/" class="logo nav-logo">
                <img src="/images/icon.png" class="logo" />
            </a>
            <div role="navigation" class="navlinks">
                <a href="/apps.html" class="nav-link">Apps</a>
                <a href="/solutions.html" class="nav-link">Solutions</a>
                <a href="/consulting.html" class="nav-link">Consulting</a>
                <a href="/research.html" class="nav-link">Research</a>
                <a href="/contact.html" class="nav-link">Contact</a>
            </div>
        </div>
    </nav>
    <div class="navpadding"></div>
    <nav id="localnav" class="localnav">
        <div class="localnav-wrapper">
            <div class="localnav-content">
                <a href="#"><img class="product-title" src="/images/product/R/RIconText.png"></a>
                <a href="https://r.excellency.one" class="product-cta"><svg class="download-icon"
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none">
                        <g clip-path="url(#clip0)">
                            <path
                                d="M12 24C18.6 24 24 18.6 24 12 24 5.4 18.5 0 12 0 5.4 0 0 5.4 0 12 0 18.6 5.4 24 12 24ZM12 5.8C12.6 5.8 13 6.2 13 6.8V12.6L12.9 15.2 14.1 13.8 15.4 12.3C15.6 12.1 15.9 12 16.1 12 16.7 12 17.1 12.4 17.1 13 17.1 13.3 17 13.5 16.8 13.7L12.8 17.7C12.5 18 12.3 18.1 12 18.1 11.7 18.1 11.5 18 11.2 17.7L7.2 13.7C7 13.5 6.9 13.3 6.9 13 6.9 12.4 7.3 12 7.9 12 8.2 12 8.4 12.2 8.6 12.3L10 13.8 11.1 15.2 11 12.6V6.8C11 6.2 11.4 5.8 12 5.8Z"
                                fill="white"></path>
                        </g>
                        <defs>
                            <clipPath>
                                <rect width="24" height="24" fill="currentColor"></rect>
                            </clipPath>
                        </defs>
                    </svg> Download</a>
                <div class="localnav-menu">
                    <ul>
                        <li class="localnav-menu-item"><a href="#features" class="localnav-menu-link">Features</a></li>
                        <li class="localnav-menu-item"><a href="#guide" class="localnav-menu-link">User Guide</a></li>
                    </ul>
                </div>
            </div>
            <div class="localnav-keyline"></div>
        </div>
    </nav>
    <main>
        <div class="section product-top R" style="height: 1400px;">
            <div class="section top" id="intro">
                <div class="intro-content">
                    <img class="intro-title" src="/images/product/R/RText.png">
                    <h4>The easiest and most versatile randomizer app on the market</h4>
                </div>
            </div>
            <img id="" class="intro-image" src="/images/product/R/RPhone.png">
        </div>
        <div class="section product" style="text-align: left; height:260px; padding: 0 20vw ;">
            <p>Introducing the easiest and most versatile randomizer app on the market! With a sleek and intuitive
                interface, the app allows you to quickly generate random numbers, flip a virtual coin, or create your
                own custom randomizers. Whether you're looking to settle a bet with a friend, make a difficult decision,
                or simply add some excitement to your day, our app has you covered. Download it now and start exploring
                the endless possibilities!</p>
            <a href="https://r.excellency.one" class="R-link"><br>>>> Download now for FREE!</a>
        </div>
        <a href="https://r.excellency.one" class="appstore-download-button"><img src="/images/DownloadOnTheAppStore.png"><img class="spacer"></img><img src="/images/DownloadOnTheMacAppStore.png"></a>
    </main>
    <footer id=" footer" class="footer">
                <a href="/" class="footer-logo">
                    <img src="/images/icons/logo_wide.JPG" class="footer-logo" />
                    <div>Thinking differently.</div>
                </a>
                <div class="footer-container">
                    <div class="footer-menu">
                        <h6>What we do</h6>
                        <ul role="list" class="footer-links-list">
                            <li>
                                <a href="/apps.html" class="footer-menu-link">Apps</a>
                            </li>
                            <li>
                                <a href="/solutions.html" class="footer-menu-link">Solutions</a>
                            </li>
                            <li>
                                <a href="/consulting.html" class="footer-menu-link">Consulting</a>
                            </li>
                            <li>
                                <a href="/research.html" class="footer-menu-link">Research</a>
                            </li>
                            <li>
                                <a href="/opensource.html" class="footer-menu-link">Open Source</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-menu">
                        <h6><a href="/products.html" class="footer-heading-link">
                            Products</a></h6>
                        <ul role="list" class="footer-links-list">
                                <li>
                                    <a href="/products/tradingGenie.html" class="footer-menu-link">TradingGenie</a>
                                </li>
                                <li>
                                    <a href="/products/appPlan.html" class="footer-menu-link">AppPlan</a>
                                </li>
                                <li>
                                    <a href="/products/randomizer.html" class="footer-menu-link">Randomizer</a>
                                </li>
                                <li>
                                    <a href="/products/musicmemo.html" class="footer-menu-link">MusicMemo</a>
                                </li>
                            </ul>
                    </div>
                    <div class="footer-menu">
                        <h6>
                            Corporate</h6>
                        <ul role="list" class="footer-links-list">
                            <li>
                                <a href="/about.html" class="footer-menu-link">About Us</a>
                            </li>
                            <li>
                                <a href="/feedback.html" class="footer-menu-link">Feedback</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-menu">
                        <h6><a href="/legal.html" class="footer-heading-link">
                                Legal</a></h6>
                        <ul role="list" class="footer-links-list">
                            <li>
                                <a href="/legal/privacypolicy.html" class="footer-menu-link">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="https://www.apple.com/legal/internet-services/itunes/dev/stdeula/"
                                    target="_blank" class="footer-menu-link">App Store EULA</a>
                            </li>
                            <li>
                                <a href="/legal/websitetermsofuse.html" class="footer-menu-link">Website Terms of
                                    Use</a>
                            </li>
                            <li>
                                <a href="/legal/termsofservice.html" class="footer-menu-link">Terms of Service</a>
                            </li>
                            <li>
                                <a href="/contact.html" class="footer-menu-link">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="copyright"></div>
                <div class="socials">
                    <a href="https://github.com/Excellency-Intergalactic" class="social-link">
                        <img src="https://uploads-ssl.webflow.com/61b87037ba94da742defacd5/61c211775da113a01e65941b_GitHubp.png"
                            loading="lazy" class="social-link-image" />
                    </a>
                    <a href="https://instagram.com/excellency.intergalactic" class="social-link">
                        <img src="https://uploads-ssl.webflow.com/61b87037ba94da742defacd5/61c21177229bd5c56892965f_Instagram.png"
                            loading="lazy" class="social-link-image" />
                    </a>
                    <a href="https://twitter.com/excellencyBird" class="social-link">
                        <img src="https://uploads-ssl.webflow.com/61b87037ba94da742defacd5/61c211787b877d580474b1ca_Twitter.png"
                            loading="lazy" class="social-link-image" />
                    </a>
                    <a href="" class="social-link">
                        <img src="https://uploads-ssl.webflow.com/61b87037ba94da742defacd5/61c21178406e892f144df8c6_YouTube.png"
                            loading="lazy" class="social-link-image" />
                    </a>
                    <a href="mailto:hi@excellency.one?subject=Hi%20there!" class="social-link">
                        <img src="https://uploads-ssl.webflow.com/61b87037ba94da742defacd5/61c2117621eca45c01fc6dec_Email.png"
                            loading="lazy" class="social-link-image" />
                    </a>
                    <a href="" class="social-link">
                        <img src="https://uploads-ssl.webflow.com/61b87037ba94da742defacd5/61c21176fdd84f44d0ec2a3e_App%20Store.png"
                            loading="lazy" class="social-link-image" />
                    </a>
                </div>
                <span class="copyright-container"><span class="copyright">Copyright © 2020-
                        <script>document.write(new Date().getFullYear())</script> Excellency Intergalactic. All rights
                        reserved.
        </div>
        <div class="trademarks"> Swift, SwiftUI, the Swift logo, Xcode, iPhone, iPad, App Store, watchOS, tvOS,
            Mac
            and macOS are trademarks of Apple Inc., registered in the U.S. and other countries.</div>
        </span>
        </footer>
</body>
<script>
    // Get the image element
    var image = document.getElementById("introimage");

    // Get the offset position of the image
    var imageOffset = image.offsetTop;

    // Add an event listener to the window's scroll event
    window.addEventListener("scroll", function () {
        // Check if the window has been scrolled down more than the image offset
        if (window.pageYOffset > imageOffset) {
            // If so, set the image's position to fixed so it stays in the same place
            // as the user scrolls down the page
            image.style.position = "fixed";
        } else if (window.pageYOffset > 2000) {
            image.style.position = "relative";
        } else {
            // If not, set the image's position to absolute so it scrolls with the rest of the page
            image.style.position = "absolute";
        }
    });
</script>

</html>