/* Fonts */

@font-face {
  font-family: "Futura Condensed 04";
  src: url("https://uploads-ssl.webflow.com/61b87037ba94da742defacd5/61b8b045e8655f797c3b839a_Futura-CondensedMedium-04.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura 03";
  src: url("https://uploads-ssl.webflow.com/61b87037ba94da742defacd5/61b8b05574f6617afa8ebd8f_Futura-Bold-03.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura 01";
  src: url("https://uploads-ssl.webflow.com/61b87037ba94da742defacd5/61b8b046fdcd0d623e49f79d_Futura-Medium-01.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura 02";
  src: url("https://uploads-ssl.webflow.com/61b87037ba94da742defacd5/61b8b0469685ed0221f3baf0_Futura-MediumItalic-02.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Futura Condensed 05";
  src: url("https://uploads-ssl.webflow.com/61b87037ba94da742defacd5/61b8b045653c8c1b6e652d68_Futura-CondensedExtraBold-05.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Foundersgrotesk 03";
  src: url("https://uploads-ssl.webflow.com/61b87037ba94da742defacd5/61b8b045818c63cf9ff335b0_FoundersGrotesk-Bold-03.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Foundersgrotesk";
  src: url("https://uploads-ssl.webflow.com/61b87037ba94da742defacd5/61b8b05574f66167eb8ebd8e_FoundersGrotesk-Regular-01.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Foundersgrotesk 06";
  src: url("https://uploads-ssl.webflow.com/61b87037ba94da742defacd5/61b8b04621102cf47aec92e8_FoundersGrotesk-MediumItalic-06.otf")
    format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Foundersgrotesk 10";
  src: url("https://uploads-ssl.webflow.com/61b87037ba94da742defacd5/61b8b045bc42fda14ec19038_FoundersGrotesk-SemiboldItalic-10.otf")
    format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Foundersgrotesk 07";
  src: url("https://uploads-ssl.webflow.com/61b87037ba94da742defacd5/61b8b045f5792062675cf5f9_FoundersGrotesk-Light-07.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Foundersgrotesk 02";
  src: url("https://uploads-ssl.webflow.com/61b87037ba94da742defacd5/61b8b04597a69ff5c17f70d3_FoundersGrotesk-RegularItalic-02.otf")
    format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Foundersgrotesk 05";
  src: url("https://uploads-ssl.webflow.com/61b87037ba94da742defacd5/61b8b0450200939315e0d600_FoundersGrotesk-Medium-05.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Foundersgrotesk 04";
  src: url("https://uploads-ssl.webflow.com/61b87037ba94da742defacd5/61b8b04521102c3e51ec92e7_FoundersGrotesk-BoldItalic-04.otf")
    format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Foundersgrotesk 09";
  src: url("https://uploads-ssl.webflow.com/61b87037ba94da742defacd5/61b8b045ecfcadcb3c30251c_FoundersGrotesk-Semibold-09.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Foundersgrotesk 08";
  src: url("https://uploads-ssl.webflow.com/61b87037ba94da742defacd5/61b8b046163132239c4b3ee4_FoundersGrotesk-LightItalic-08.otf")
    format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Default */
html {
  font-family: "Foundersgrotesk", sans-serif;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: Foundersgrotesk, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: rgb(255, 255, 255);
}

.body {
  overflow: visible;
  background-color: #000;
  font-family: Foundersgrotesk, sans-serif;
  color: #fff;
  -o-object-fit: contain;
  object-fit: contain;
}

address,
article,
aside,
div,
footer,
header,
hgroup,
layer,
main,
nav,
section {
  display: block;
}

.w-container:after {
  clear: both;
}

.columns {
  position: relative;
  display: block;
  margin: 20px 100px;
  text-align: center;
}

.w-container .w-row {
  margin-left: -10px;
  margin-right: -10px;
}

.w-container:before,
.w-container:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

img {
  border: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.image {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.link {
  display: block;
  margin-bottom: 10px;
  font-family: "Foundersgrotesk 05", sans-serif;
  color: #820000;
  letter-spacing: 1.2px;
  text-decoration: none;
}

.link:hover {
  background-color: #000;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#a76c0d),
    color-stop(43%, #ab0bd3),
    color-stop(77%, #cc134e),
    color-stop(99%, #7617db)
  );
  background-image: linear-gradient(
    90deg,
    #a76c0d,
    #ab0bd3 43%,
    #cc134e 77%,
    #7617db 99%
  );
  font-family: "Foundersgrotesk 05", sans-serif;
  font-size: 15px;
  text-decoration: underline;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

a {
  background-color: transparent;
}

a:any-link {
  color: -webkit-link;
  text-decoration: underline;
  cursor: auto;
}

.section-top {
  position: relative;
}

.image-2 {
  opacity: 0.5;
}

.heading-4 {
  position: absolute;
  left: 0%;
  top: 36%;
  right: 0%;
  bottom: 0%;
  display: inline-block;
  height: 100px;
  font-family: "Foundersgrotesk 03", sans-serif;
  font-size: 70px;
  text-align: center;
}

h1 {
  display: inline;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 91px;
  line-height: 90px;
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 10px;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.image-3 {
  position: absolute;
  left: 0%;
  top: 16%;
  right: 0%;
  bottom: auto;
  z-index: auto;
  display: block;
  overflow: visible;
  padding: 40px;
  float: none;
  clear: both;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

/* NavBar */

.navbar-2 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: block;
  overflow: visible;
  height: auto;
  padding-right: 20px;
  padding-left: 20px;
  background-color: transparent;
  font-family: "Foundersgrotesk 09", sans-serif;
  color: #fff;
  text-align: left;
  -o-object-fit: contain;
  object-fit: contain;
}

.w-nav {
  position: relative;
  background: #dddddd;
  z-index: 1000;
}

.w-nav:after {
  clear: both;
}

.w-nav:before,
.w-nav:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-nav:before,
.w-nav:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

.container-2 {
  position: relative;
  top: 0%;
  display: block;
  overflow: visible;
  width: auto;
  height: auto;
  max-width: 95%;
  min-width: 80%;
  margin-right: auto;
  margin-left: auto;
  clear: none;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.brand.w--current {
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
  -o-object-fit: fill;
  object-fit: fill;
}

.brand {
  border: 1px none #000;
}

.w-nav-brand {
  position: relative;
  float: left;
  text-decoration: none;
  color: #333333;
}

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  max-height: 100%;
  padding-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  text-decoration: none;
  -o-object-fit: contain;
  object-fit: contain;
}

.nav-menu {
  position: relative;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.w-nav-menu {
  position: relative;
  float: right;
}

.navbar-2:hover {
  background-color: #000;
}

.nav-link-3 {
  color: #fff;
}

.nav-link-3:hover {
  background-color: transparent;
  color: #820000;
}

.w-nav-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #222222;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

/* Footer */

.text-block-3 {
  position: relative;
  padding-bottom: 30px;
  font-family: "Foundersgrotesk 05", sans-serif;
  font-size: 16px;
  letter-spacing: 1.5px;
}

.text-block-2 {
  border-style: none;
  border-width: 1px;
  border-color: #fff;
  border-radius: 0px;
  font-family: "Foundersgrotesk 05", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}

.footer {
  position: relative;
  display: block;
  overflow: visible;
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  font-family: Foundersgrotesk, "Times New Roman", sans-serif;
  font-size: 15px;
  text-align: center;
  -o-object-fit: contain;
  object-fit: contain;
}

.container {
  position: relative;
}

container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

.footer-flex-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: left;
}

.footer-logo-link {
  overflow: visible;
  max-height: 60px;
  min-width: 60px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: center;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.footer-links {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-links {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  line-height: 36px;
  margin-top: 20px;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.w-list-unstyled {
  padding-left: 0;
  list-style: none;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

ul,
menu,
dir {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  text-align: -webkit-match-parent;
}

.column {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.w-col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.w-col-2 {
  width: 16.66666667%;
}

.social-link-image {
  display: inline-block;
  height: 100%;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  -o-object-fit: fill;
  object-fit: fill;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.image-6 {
  width: 70%;
}

.text-block-5 {
  margin-top: 40px;
  font-size: 10px;
}
